.idx {
  &mrt{
    &__list {
      list-style: disc;
      padding-left: 20px;
      line-height: 1.7;
    }
  }
  &frm {
    &__form{
      max-width: 600px;
      margin-top: 20px;
    }
  }
  &ref{
    &__txt{
      a{
        color: $grey1;
      }
    }
  }
}
