.header {
  border-bottom: 2px solid $grey3;
  background: #fff;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    height: 100px;
  }
  &__title {
    font-size: 4rem;
    line-height: 100px;
    color: $main;
  }
}
