<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <h1 class="header__title">Rail Quick Start</h1>
    </div>
    <nav class="gnav">
      <ul class="gnav__list">
        <li><a href="https://qiita.com/d0ne1s/items/5211969b566b6a503eb8"><i class="fas fa-search"></i>Qiita</a></li>
        <li><a href="https://github.com/nyshk97/quicss"><i class="fab fa-github"></i>GitHub</a></li>
        <div class="gnav__outer">
      </ul>
    </nav>
  </div>
</header>